# To override in your project skeleton
PROJECT_DIR=/code/src/project/
PROJECT_PACKAGE=project
#
POSTGRES_DB=db
POSTGRES_USER=user
POSTGRES_PASSWORD=password
#
HOSTNAME=${DJANGO_NAME}
#
# This need to be changed in production
SECRET_KEY=ChangeThatSuperSecret
# vim: set ft=sh:
